.container {
	max-width: 1180px;
	margin: 0 auto;
}


.col-4 {
	float: left;
	width: 33.33333%;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* --- fluid ---*/


@media (max-width: 1180px) {
	.col-4 {
		width: 100%;
		padding: 10px 10px;
	}
}